#!/usr/bin/make -f
SHELL+= -e

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

GIT_VERSION := $(strip $(shell [ -x ./git-version.sh ] && \
                                   ./git-version.sh || echo "unknown"))

DEB_DH_GENCONTROL_ARGS += -u-VGit-Id=$(GIT_VERSION)


CFLAGS = -Wall -g3

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

DEB_TAR_SRCDIR = ${DEB_SOURCE_PACKAGE}-${DEB_UPSTREAM_VERSION}
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

#DEB_CONFIGURE_USER_FLAGS := --disable-static --enable-shared --libdir=/usr/lib
#DEB_CONFIGURE_EXTRA_FLAGS := --enable-shared --libdir=/usr/lib

# Omit *.la files but warn about other missing things.
binary-post-install/%::
	rm -f debian/*/usr/lib/*/*.la

common-binary-post-install-arch:: list-missing

post-patches:: debian/stamp-autogen

debian/stamp-autogen:
	cd $(DEB_BUILDDIR) && ./autogen.sh
	touch $@

clean::
	-rm -rf debian/stamp-autogen

# do not include docs and changelogs in these packages
DEB_INSTALL_DOCS_libresource0 := --no-act
DEB_INSTALL_CHANGELOGS_libresource0 := --no-act
DEB_INSTALL_DOCS_libresource0-dbg := --no-act
DEB_INSTALL_CHANGELOGS_libresource0-dbg := --no-act

